.pointer{
    cursor: pointer;
}
.bgmain{
    background-color:#487df5
}
.textmain{
    color:#487df5
}
.bgorange{
  background-color:rgb(255, 123, 0)
}
.textorange{
  color:rgb(255, 123, 0)
}
*{
  line-height: 2rem;
}
a{
  text-decoration: none !important;
}
@media only screen and (max-width: 1000px) {
    * {
      font-size: 12px;
    }

}
@media only screen and (max-width: 700px) {
    * {
      font-size: 11px;
    }
}

@media only screen and (max-width: 500px) {
    * {
      font-size: 10px;
    }
}